<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Brock's Burgers</title>
    
</head>

<body>
    <div class="container text-center">
        <img src="/assets/images/brock.jpg" class="brock-img">

        {{{ body }}}
    </div>
    <script src="/assets/js/burgers.js"></script>
</body>

</html>